#root {
  max-width: 650px;
  margin: 0 auto;
  padding: 3rem 2rem;
}

header {
  display: flex;
  align-items: start;

  & #logo {
    margin: 10px;
  }

  & #editable {
    margin-inline: 10px;
  }

  & .title {
    display: flex;
    flex-direction: column;
    font-size: 20px;

    &>* {
      margin: 0;
    }
  }
}

main>ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  list-style: none;
  padding-inline: 20px;

  li {
    width: 600px;
    display: flex;
    border-radius: 16px;
    align-items: center;
    justify-content: space-between;
    background-color: #E3E8EF;
    padding: 18px;

    & section {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 14px;

      &>div {
        width: 320px;
        text-align: start;

        &>* {
          margin: 0;
        }
      }
    }

    & figure {
      width: 50px;
      height: 50px;
      border-radius: 10px;
      display: grid;
      place-content: center;
      margin: 0;

      &>img {
        scale: .4;
      }

      &.item__icons {
        background: #F8FAFC;
      }
    }

    &.completed {
      background-color: #A0ECB1;

      &>.item__status {
        background: #32D657;
      }
    }

    &.progress {
      background-color: #F5D565;

      &>.item__status {
        background: #E9A23B;
      }
    }

    &.wont {
      background-color: #F7D4D3;

      &>.item__status {
        background: #DD524C;
      }
    }

    &.item--new {
      background-color: #F5E8D5;

      figure {
        background: #E9A23B;
      }
    }
  }
}